extends layout

block content
    #cursor
        .cursor__circle
        
    style.
        .title{
            margin-bottom:40px;
        }
        .dashContainer{
            display:flex;
            justify-content:center;
            align-items:center;
            height:100%;
            width:100%;
        }
        .dashCard{
            padding:30px;
            border:1px solid #fff;
            border-radius:15px;
            width:50%;
            height:250px;
            display:flex;
            align-items:center;
            justify-content:space-evenly;
            flex-flow:column;
            font-size:25px;
        }

        a{
            transition:0.3s ease-in-out;
        }

        a:hover{
            color:#3282B8;
        }

        #cursor.extender .cursor__circle {
            width: 128px;
            height: 128px;
            border-color: white;
        }

        #cursor.extender::after {
            content: "";
            position: absolute;
            left: -50%;
            top: -50%;
            width: 100%;
            height: 100%;
            /* background-image: url('https://svgshare.com/i/Yis.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center; */
        }
    
    h1.title #{currentUser.type} Dashboard
    br
    if currentUser.type == 'School'
        .dashContainer 
            .dashCard(cursor-class='extender')
                a(href="/school/participant/register") Add your teams here
                br
                br
                a(href="/school/teams") Manage your teams here
                if currentUser.verified == false 
                    b.warning You are not verified yet! We have sent a verification email on your registered email address, follow the steps in the email to verify your account.
                    br
                    br
                    b.warning NOTE : You will not be registered for the event until you have a verified account.

    else if currentUser.type == 'Participant'
        .dashContainer 
            .dashCard(cursor-class='extender')
                p School Name - #{currentUser.schoolname}
                br
                p Participant Name - #{currentUser.studentname}
                br
                if currentUser.studentevent == 'click'
                    p Events - (c)lick
                if currentUser.studentevent == 'clipped'
                    p Events - (c)lipped
                if currentUser.studentevent == 'crosshair'
                    p Events - (c)rosshair
                if currentUser.verified == false 
                    b.warning You are not verified yet! We have sent a verification email on your registered email address, follow the steps in the email to verify your account.
                    br
                    br
                    b.warning NOTE : You will not be registered for the event until you have a verified account.

    else

        .dashContainer 
            .dashCard(cursor-class='extender')
                p School Name - #{currentUser.schoolname}
                br
                p Participant Name - #{currentUser.studentname}
                br
                if currentUser.studentevent == 'click'
                    p Events - (c)lick
                if currentUser.studentevent == 'clipped'
                    p Events - (c)lipped
                if currentUser.studentevent == 'crosshair'
                    p Events - (c)rosshair
                if currentUser.verified == false 
                    b.warning You are not verified yet! We have sent a verification email on your registered email address, follow the steps in the email to verify your account.
                    br
                    br
                    b.warning NOTE : You will not be registered for the event until you have a verified account.

    br
    br
    br
    script.
        document.getElementById("dashboardnav").classList.toggle("active");