extends layout

block content
    #cursor
        .cursor__circle
    h1.form-title Your Teams
        input#myInput(type='text' onkeyup='searchBar()' placeholder='Search Name')
    if teams.length == 1
        br
        br
        h2 You havent added any teams yet.
        h2 You can add your school's teams -
            b 
                a(href='/school/participant/register') HERE 
        br
        br
    else
        table#myTable
            tr
            th No.
            th Name
            th Event
            th Username
            th Password

            each team, index in teams
                if team.username != currentUser.username
                    tr
                        td= index
                        td= team.participantname
                        if team.participantevent == 'click'
                            td= '(c)lick'
                        if team.participantevent == 'clipped'
                            td= '(c)lipped'
                        if team.participantevent == 'crosshair'
                            td= '(c)rosshair'
                        td= team.username
                        td= team.password1
